/app/config/parameters.yml
/app/config/parameters.yml.dist
/build/
/var/*
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!var/SymfonyRequirements.php
!var/bootstrap.php.cache
vendor/*
!vendor/smstech
/web/bundles/
